extends layout

block content
  include ./user/title

  button(onClick="partial('/users/time')") reload time
  button(onClick="partial('/users/multi')") reload multiple

  #output
    include ./user/time

  h2 Sample Form

  include ./user/form

  ul.messages
    each message in messages
      include ./user/message
