extends layout

block content
  include ./user/title

  button(onClick="partial('/users/time')") 押すとtime更新
  button(onClick="partial('/users/multi')") 押すとマルチ更新

  #output
    include ./user/time

  h2 フォーム

  include ./user/form

  ul.messages
    each message in messages
      include ./user/message
